
header {
    background-color: #8a2be2;
    padding: 10px;
    height: 50px;
    overflow: hidden;
}

.head-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: auto;
    overflow: hidden;
}

.home-btn {
    font-size: 20px;
}

ul {
    list-style: none;
    
}

.nav-link {
    background-color: #8a2be2;
    color: #ffffff;
    font-weight: 600;
    padding: 1em;
    
    
    text-decoration: none;
    &:hover {
        background-color: #601f9d;
    }
    &:active {
        background-color: #7125b8;
    }
}

.text-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.drop {
    position: relative;
}

.burger {
    padding: 1em 2em;
}

.drop-nav {
    display: none;
    position: absolute;
    right: 0;
}

.drop-link {
    border: 1px solid #601f9d;
}

