@import 'header';

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.text-nav {
    display: none;
    }

.drop {
    display: inline-block;
 }

main {
    width: 90%;
    margin: auto;
    padding: 1em;
    overflow: hidden;
}

h1 {
    font-size: 25px;
    text-align: center;
}



/* @media queries */

@media screen and (min-width: 540px) {
    
    h1 {
        font-size: 30px;
    }
}

@media screen and (min-width: 701px) {
    .text-nav {
        display: flex;
    }
    .drop {
        display: none;
    }
    h1 {
        font-size: 40px;
    }
}